<h2>{{table?.Name}}</h2>

<select #selectBox multiple (change)="onSelectChange(selectBox.options)">
    <option *ngFor="let attribute of table?.Attributes" [value]="attribute.Name">{{attribute.Name}}</option>
</select>

<div *ngIf="errorMsg" class="alert alert-danger" role="alert">{{errorMsg}}</div>

<table class="table table-bordered table-striped table-responsive">
	<thead>
		<tr>
			<th *ngFor="let attribute of resultTable?.Attributes">{{attribute.Name}}</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let row of resultTable?.Rows">
			<td *ngFor="let rowValue of row.Value">{{rowValue}}</td>
		</tr>
	</tbody>
</table>